body {
	margin-left: 10%;
	margin-right: 10%;
	background: #ff9;
}
h4 {
	font-family: helvetica, sans-serif;
	border-bottom: thin dotted black;
}
h1 {
	font-family: helvetica, sans-serif;
}	
div
{
    background-color: #C0C0C0;
	color: navy;
    margin: 0.5em;
    padding: 0.5em;
	border-width: thick;
    border-style: solid; 
}
.boxed {
	border: 2px solid green ;
	font-family: helvetica, sans-serif;
	color: #600;
}